*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #444B54;
}
body img{
    width: 100vw;
    height: 400px;
    background-repeat: no-repeat;
}

.a_among img{
    opacity: 0.5;
    width: 100%;
    margin-top: 7%;
}

.a_among img:hover{
    opacity: 0.90;
}


/*-------------INICIO------------*/
header img{
    height: 100px;
    width: 30%;
    margin-left: 35%;
}


.among_nav{
    background-color: rgba(68,75,84, 0.7);
    height: 50px;
    text-align: center;
    margin-top: 1%;
    padding-top: 1%;
}
.among_ul li{
    display: inline;
    margin-right: 4%;
    margin-left: 4%;
}
li a{
    text-decoration: none;
    color: white;
    font-family: Berlin Sans FB;
    font-size: 27px;
    margin-top: 6%;
    /* letter-spacing: 1px; */
}

li a:focus{
    opacity: 0.6;
}

.among_desc p{
    color: white;
    height: auto;
    font-size: 25px;
    font-family: Berlin Sans FB;
    margin-left: 15%;
    letter-spacing: 2px;
    text-align: center;
    padding: 5%;
    width: 60%;
}
.among_desc img{
    height: auto;
    margin-left: 43%;
    opacity: 0.5;
    width: 15%;
}
.among_desc img:hover{
    opacity: 0.90;
}


footer{
    background-color: #444B54;
    margin-top: 4%;
    padding-left: 10%;
    height: 57px;
    color: aliceblue;
    font-family: Berlin Sans FB;
    padding-top: 23px;
    opacity: 0.8;
}
